_build
.history
cache/
.vscode
tests/core.yaml
.pytest_cache/
*.py[co]
.ipynb_checkpoints
test.ipynb
last_id
.env
env
venv
local_config.*
tests/__pycache__/*
.ropeproject
src
.cache
_book
public
node_modules
passwords.txt
celerybeat-schedule
.qiniu_pythonsdk_hostscache.json
celerybeat-schedule.db
core
.idea/*
.DS_Store
.*.swp
*.swo
migrations
*.pem
*.out
*.json